# ------------------------
# Python
# ------------------------

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.so
*.egg
*.egg-info/
.eggs/
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.manifest
*.spec
pip-wheel-metadata/
*.log

# Virtual Environment
venv/
env/
ENV/
.venv/
.pytest_cache/

# ------------------------
# VS Code
# ------------------------

.vscode/
.history/

# ----------------


ruby